/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 1, 2026, 1:54:28 PM
    Author     : nischal
*/
:root {

    /* primary colors*/
    --color-primary: #285A48;
    --color-primary-hover: #3C7A63;
    --color-primary-dark: #1F4336;

    /* bg colors*/
    --bg-primary: #F2F5F3;
    --bg-secondary: #E3EBE6;
    --bg-white: #ffffff;

    /*text colors*/
    --text-primary: #1C1C1E;
    --text-secondary: #5C5C6E;
    --text-light: rgba(255,255,255,0.85);
    --text-white: #ffffff;

    /* border colors*/
    --border-light: #C9D6CF;
}
/* ================= NAVBAR ================= */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 14px 60px;
    background: var(--color-primary-dark);
    color: var(--text-white);
}

/* logo */
.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

.nav-logo img {
    width: 40px;
}

/* links */
.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-light);
    font-size: 15px;
    transition: 0.25s;
}

.nav-links a:hover {
    color: white;
}

/* button */
.nav-btn {
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid white;
}

.nav-btn:hover {
    background: white;
    color: var(--color-primary-dark);
}